{% trans_default_domain 'FOSUserBundle' %}

<section>
    <div class="container">
        <div class="row">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="col-md-6 pull-right">
                <h1>Connexion à mon compte</h1>
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" placeholder="Nom d'utilisateur" value="{{ last_username }}" required="required" />

                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" placeholder="Mot de passe" required="required" />

                    <a href="{{path('fos_user_resetting_request')}}">Mot de passe oublié</a>
                    <a href="{{path('fos_user_registration_register')}}">Vous n'avez pas encore de compte ?</a>

                    <input type="submit" id="_submit" name="_submit" value="{{ 'Connexion'|trans }}" />
                </form>
            </div>
        </div>
    </div>
</section>
